
*.m~

*.fda

*.aux

*.log

HW1/report/report.pdf

*.fdb_latexmk

*.fls

*.gz

HW2/report/report.pdf

HW3/report/report.pdf

HW3/report/code.pdf

HW3/report/figures/BER_average-eps-converted-to.pdf

HW3/report/figures/BER_real_channel-eps-converted-to.pdf

HW3/report/figures/BER_same_channel-eps-converted-to.pdf

HW4/report/report.pdf
